// Importing variables
@import "./variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

.gradientBg {
  display: flex;
  // background: linear-gradient(to top right, $primary-color, $secondary-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    border-bottom: 1px solid;
    color: black;
  }
  a:hover {
    color: $secondary-color;
  }
}

a {
  // border-bottom: 1px solid;
  color: $primary-color;
}
a:hover {
  color: $secondary-color;
}

.header-media-content {
  text-align: center;
}

.fa-hand-holding-heart {
  padding-right: 7.5px;
}

.hero-head {
  background: white;
  padding: 25px 0;
}

.about-me-content {
  line-height: 2em;
}

.footer {
  text-align: center;
}

.bjb-content {
  background: white;
  text-align: center;
}

a {
  color: $primary-color !important;
  transition: 0.3s;
}
a:hover {
  color: red !important;
}

.donate-here-link {
  background: $primary-color;
  color: white !important;
}

.donate-here-link:hover {
  background: white;
  color: red !important;
}

html {
  // background: url("../images/colorful-hands.jpg") no-repeat center center fixed;
  background: black url("../images/homes.jpg") no-repeat center center fixed;
  // background: url("../images/helping-hands.jpeg") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-me-content {
  background: ghostwhite;
}

.donate-here {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.media-content {
  // background: hcl(171, 100%, 41%);
  padding: 50px;
  border-radius: 10px;
}

.donate-here-link {
  // border-radius: 25px;
  margin-top: 10px;
  padding: 0 25px;
}
